<p>Simulação de Planos </p>

<%= form_for(@simulation) do |f| %>
  <%= f.label :ddd_origin_user %>
  <%= f.text_field :ddd_origin_user %>
  <br>
  <%= f.label :ddd_destiny_user %>
  <%= f.text_field :ddd_destiny_user %>
  <br>
  <%= f.label :amount_user %>
  <%= f.text_field :amount_user %>
  <br>
  <%= f.submit 'Simular Planos'%>
<% end %>

<br>
<%= link_to 'Voltar', root_path %>