<p> Simulação de Planos Disponiveis </p>
<% if @taxes.empty? %>
      <p> Não existem planos disponiveis</p>
<% else %>   
  <table class="table table-hover">
    <tr>
      <td>Origem:</td>
      <td>Destino: </td>
      <td>Qtd Min Simulada:</td>
      <td>Plano: </td>
      <td>Com plano: </td>
      <td>Sem Plano: </td>
    </tr> 
  
    <tr>
        <td><%=@simulation.ddd_origin_user%></td>
        <td><%=@simulation.ddd_destiny_user%></td>
        <td><%=@simulation.amount_user%></td>

          <% @taxes.each do |tax| %>
            <td><%=tax.name_plan%></td>
          <% end %>
          
        <td><%=@simulation.with_plan%></td>
        <td><%=@simulation.without_plan%></td>
    </tr>

  </table>
<% end %>