<%= link_to "Criar novas tarifas e planos", new_tax_path %>
	<%if @taxes.present? %>
	  <p>Exibindo Tarifas e Planos Vigentes</p>
	  <!-- table width="100%" -->
		<table class="table table-hover">
	    <tr>
	      <td scope="col">Origem:</td>
	      <td scope="col">Destino: </td>
	      <td scope="col">R$ Minuto:</td>
	      <td scope="col">Plano: </td>
        <td scope="col">R$ Min Excedente:</td>
	      <td scope="col">Acão: </td>
	    </tr>
	    <%@taxes.each do |tax|%>
	    <tr>
	      <td><%=tax[:ddd_origin]%></td>
	      <td><%=tax[:ddd_destiny]%></td>
	      <td><%=tax[:price_plan]%></td>
	      <td><%= link_to tax[:name_plan], tax_path(tax)%></td>
        <td><%=tax[:price_surplus]%></td>
	      <td>
	        <%= link_to "Editar", edit_tax_path(tax[:id]) %> | 
	        <%= link_to "Deletar", tax_path(tax[:id]), :method => :delete %>
	      </td>
	    </tr>
	   <%end%>
	  </table>
	<%else%>
	  <p>Não existem planos cadastrados</p>
	<%end%>

	<p> Simulação de Planos por Origem e Destino </p>
	<%= form_with url: search_simulations_path, local: true, method: :get do %>
        <%= label_tag(:ddd_origin, 'DDD origem') %>
        <%= text_field_tag(:ddd_origin) %>
        <%= label_tag(:ddd_destiny, 'DDD Destino') %>
        <%= text_field_tag(:ddd_destiny) %>
        <%= label_tag(:amount_user, 'Qtd Minutos') %>
        <%= text_field_tag(:amount_user) %>
        <%= submit_tag 'Simular' %>
	<% end %>
<br>
<br>
<%= link_to 'Voltar', root_path %>