<p> Cadastro de Tarifas e Planos </p>
<%= form_for(@tax) do |f| %>
  <%= f.label :ddd_origin %>
  <%= f.text_field :ddd_origin %><br>
  <%= f.label :ddd_destiny%>
  <%= f.text_field :ddd_destiny %><br>
  <%= f.label :amount_min %>
  <%= f.text_field :amount_min %><br>
  <%= f.label :price_plan %>
  <%= f.text_field :price_plan %><br>
  <%= f.label :name_plan %>
  <%= f.text_field :name_plan %><br><br>
  <%= f.submit 'Confirmar registro'%>
<% end %>
